div#app {
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    left: 20%;
    right: 20%;
}

#app select{
    display: inline;
    cursor:pointer;
}

#app h1{
    display: block;
    cursor:default;
}

div#app canvas#app-canvas{
    border: 2px gray solid;
    background-color: rgb(233, 233, 233);
    cursor:pointer;
    margin: 14px auto 28px;
}

div#app div#app-setting{
    margin:12px auto;
    overflow: hidden;
}


div#app #board-info{
    display: block;
    background-color: black;
    font-size: 22px;
    text-align: center;
    color: white;
    overflow: hidden;
    margin:12px auto;
    text-anchor:middle;
}

li{
    display: inline-block;
}

div#app #app-grap{
    display: block;
    border: 1px gray solid;
    background-color: #e2e2e2;
    margin: 12px auto;
}

div#app #btn-ai-frist{
    display: block;
    font-size: 24px;
    color: white;
    background-color : darkgray;
    margin: 2px auto 30px;
}

div#app #btn-ai-frist:hover{
    font-size: 26px;
    margin: 0px auto 28px;
}

div#app input[type=button]{
    display: inline-block;
    cursor:pointer;
}

.app-block::before, .app-block::after{
    content: attr(id);
    display: block;
    font-size: 12px;
    color: white;
    background-color : darkgrey;
    margin: 2px auto;
    text-align: center;
}
